<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alışveriş Sitesi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    {% extends "base.html" %}

    {% block title %}Ürün Detayı{% endblock %}

    {% block content %}

    <section class="bestsellers">
        <h2>Çok Satan Ürünler</h2>
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="Product Image">
                </div>
                <div class="product-info">
                    <h3>Ürün No: {{ product.id }}</h3>
                    <p>{{ product.description }}</p>
                    <p><strong>{{ product.price }} TL</strong></p>
                    <p>Kategori: {{ product.category }}</p>
                    <a href="/product/{{ product.id }}" class="details-link">Ürün Detayı</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endblock %}
</body>
</html>

